@charset "UTF-8";

/* - Mobile: 375px */
/* - Desktop: 1440px */

/* - Family: [Figtree](https://fonts.google.com/specimen/Figtree)
- Weights: 500, 800 */


@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Figtree';
    font-size: 16px;
    background: var(--yellow);
}

/* Main */
.main{
    width: 100%;
    margin-top: 200px;
    padding: 0 20px;
}

.container{
    background: var(--white);
    width: 100%;
    margin: 0 auto;
    margin-bottom: 35px;
    padding: 20px;
    border-radius: 18px;
    border: 1px solid black;
    box-shadow: 10px 10px black;
}

.card{
    width: 100%;
    height: auto;
    padding: 0;
}

.card__img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 18px;
}

.card__btn{
    background: var(--yellow);
    border: 0;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    margin: 10px 0;
    font-weight: 800;
    font-size: 11px;
}

.card .p-1{
    font-size: 12px;
    padding: 8px 0 15px 0;
}

.card .p-2{
    font-size: 13px;
    padding: 8px 0 15px 0;
    line-height: 1.3rem;
    color: var(--gray-500);
    margin-bottom: 15px;
}

.card h1{
    font-size: 20px;
    padding: 3px 0 8px 0;
    font-weight: 800;
}

.card .avatar{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: var(--gray-950);
    font-weight: 800;
    font-size: 14px;
}

.card .avatar img{
    width: 30px;
}

/* Footer */
.attribution {
    text-align: center;
    font-size: 12px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Responsivo */
@media (min-width: 480px) {
    .container{
        width: 375px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .container{
        width: 375px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container{
        width: 375px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container{
        width: 375px;
    }
}

@media (min-width: 1200px) and (max-width: 1919px) {
    .container{
        width: 375px;
    }
}

@media (min-width: 1920px) {
    .container{
        width: 375px;
    }
}

